*{outline:solid 1px red;}
.logo
{
 position:fixed:;
}
header
{ background-image: url(imagen/bici.jpg);
background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
	text-align:center;}


div h1 
{
    color: chocolate;

}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}

li {
    float: left;
}
a
{
  color:white;
}

li a {
    display: block;
    padding: 10px;
    background-color:black;
  width:100px;
  opacity:0.5;
   text-align: center;
}
.img{
  width:100%;
  opacity: 0.5;
}
    img {
    width: 200px;
        top: 50px;
    text-align: center;
}

    

section
{background-image: url(imagen/laptop.jpeg);
background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
	text-align:center;
    margin-top: auto;
    
    
}

section img
{
   margin-top: 150px;
    margin-bottom: 0px;
}
section p
{
    text-align: center;
    margin-top: 150px;
    color: coral;
}
.habilidades
{
    background-image: url(imagen/bici.jpg);
}